body {
    background: DarkRed;
    background-image: url("coffin2.png");
    font-family: "baskerville", "Courier New", monospace;
    color: lavender;
}
.header {
    padding: 2em;
    background: indigo;
    border: black;
    border-width: medium;
    border-style: solid;
    border-radius: 25px;
}
a:visited {
    color: lightpink;
}
a:hover {
    color: hotpink;
}
a:link {
    color: darkred;
}

section {
    background: indigo;
    width: 80%;
    margin: auto;
    padding: 1em;
    border: black;
    border-width: medium;
    border-style: solid;
}
section.title {
    background: mediumpurple;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 1em;
    border: 40px solid transparent;
    padding: 15px;
    border-image: url(bloodFrame2.png);
    border-image-slice: 200;
        
}
img.wTag {
    width: 25%;
    height: auto;
    position: relative;
}

img.saidTag {
    width: 100%;
    height: auto;
    position: relative;
}
span.name{
     background: DarkSalmon;
     color: black;
     
}
section.flex {
    width:100%;
    
}
div.reading-view {width:75%; 
float:left;}
div.characterList {width:25%;
height:30em;
float:right;
position:fixed;
top:5em;
right:5em;

}
