body {
    background: DarkRed;
    background-image: url("myImmortal/docs/coffin2.png");
    font-family: "Lucida Console", "Courier New", monospace;
    animation: moveIt 9s linear infinite;
}
.header {
    padding: 2em;
    background: PaleVioletRed;
}
a:visited {
    color: white;
}
a:hover {
    color: mediumvioletred;
}
a:link {
    color: mediumpurple;
}
@keyframes moveIt {
  from {background-position: bottom left;}
  to {background-position: top right;}
}
section {
    background: PaleVioletRed;
    width: 80%;
    margin: auto;
    padding: 1em;

}
img.wTag {
width:25%;
 height:auto;
 position:relative;
}   
   
img.saidTag {
width:100%;
 height:auto;
 position:relative;
}
