body {
    background: DarkRed;
    background-image: url("coffin2.png");
    font-family: "Lucida Console", "Courier New", monospace;
   
    }
 
section {
 background: RosyBrown;
 width: 90%;
 margin: auto;
 padding: 1em;

}
